.facet-values li {
    display: flex;
    align-items: flex-start;
    padding: 3px 0;
}

.facet-values .facet-label {
    display: table-cell;
}

.facet-values .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
    margin-left: auto;
}

.thumbnail-small {
    margin-bottom: 2rem;
    padding-left: 1rem;
    max-width: 400px;
}

.thumbnail-medium {
    margin-bottom: 2rem;
    padding-left: 1rem;
    max-width: 400px;
}

.facets-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem
}

.facets-heading {
    line-height: inherit
}

.facet-limit {
    margin-bottom: 0.5rem
}

.facet-limit-active {
    border-color: #198754 !important
}

.facet-limit-active .card-header {
    background-color: #198754 !important
}

.facet-limit-active .card-header .btn {
    color: #fff
}

.facet-values {
    margin-bottom: 0;
}

.facet-values a {
    text-decoration: none
}

.facet-values li {
    display: flex;
    align-items: flex-start;
    /*! padding:3px 0; */
}

.facet-values li[role="treeitem"] {
    display: block
}

.facet-values li .selected {
    color: #198754 !important
}

.facet-values .remove {
    color: var(--bs-secondary-color);
    font-weight: bold;
    padding-left: 0.5rem;
    text-decoration: none
}

.facet-values .remove:hover {
    color: theme-color("danger");
    text-decoration: none
}

.facet-values .facet-label {
    padding-right: 1em;
    text-indent: -15px;
    padding-left: 15px;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto
}

.facet-values .facet-count {
    margin-left: auto
}

.facet-values .facet-checkbox {
    width: 1.25rem
}

.breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.image-hover-preview {
  position: relative;
  display: inline-block;
}

.preview-popup {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 30px;
  width: 400px;
  padding: 4px;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  white-space: nowrap;
}

.image-hover-preview:hover .preview-popup {
  display: block;
}

/* Flip popup to the left if the container is aligned right */
.image-hover-preview.flip-left .preview-popup {
  left: auto;
  right: 30px;
}
