/* facet css inspired by Blacklight */

.facet-values li {
    display: flex;
    align-items: flex-start;
    padding: 3px 0;
}

.facet-values .facet-label {
    display: table-cell;
}

.facet-values .facet-count {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    width: 5em;
    margin-left: auto;
}

.facets-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem
}

.facets-heading {
    line-height: inherit
}

.facet-limit {
    margin-bottom: 0.5rem
}

.facet-limit-active {
    border-color: #198754 !important
}

.facet-limit-active .card-header {
    background-color: #198754 !important
}

.facet-limit-active .card-header .btn {
    color: #fff
}

.thumbnail-small {
    margin-bottom: 2rem;
    padding-left: 1rem;
    max-width: 400px;
}

.thumbnail-medium {
    margin-bottom: 2rem;
    padding-left: 1rem;
    max-width: 400px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: none;
}

.image-hover-preview {
    position: relative;
    display: inline-block;
}

.preview-popup {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 30px;
    width: 400px;
    padding: 4px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.image-hover-preview:hover .preview-popup {
    display: block;
}

/* Flip popup to the left if the container is aligned right */
.image-hover-preview.flip-left .preview-popup {
    left: auto;
    right: 30px;
}


.nav-pills .nav-link.active {
    background-color: var(--bs-gray-500); /* light gray */
    color: var(--bs-body-color); /* default text color */
    border-radius: 0.5rem;
}

.nav-pills .nav-link:hover {
    background-color: var(--bs-gray-300); /* slightly lighter gray on hover */
    color: var(--bs-body-color);
}


.extra-small {
    font-size: 0.7em;
}

/* Link colors - warmer, less blue */
a {
  text-decoration: none;
  /* color: #ffffff; */
}
a:hover {
  /* color: #d88f4f; */
}
